#cloud-config
package_update: true
package_upgrade: true

packages:
  - curl
  - ca-certificates
  - dnsutils
  - unattended-upgrades
  - fail2ban

# Configure automatic security updates and reboots for patches
apt:
  conf: |
    APT::Periodic::Update-Package-Lists "1";
    APT::Periodic::Unattended-Upgrade "1";
    APT::Periodic::AutocleanInterval "7";
    Unattended-Upgrade::Automatic-Reboot "true";
    Unattended-Upgrade::Automatic-Reboot-Time "03:00";
    Unattended-Upgrade::Remove-Unused-Dependencies "true";

# Set root password for console access
chpasswd:
  list: |
    root:${root_password}
  expire: false

write_files:
  - path: /var/lib/rancher/k3s/server/tls/server-ca.crt
    owner: root:root
    permissions: '0644'
    encoding: b64
    content: ${base64encode(k3s_ca_cert)}
  - path: /var/lib/rancher/k3s/server/tls/server-ca.key
    owner: root:root
    permissions: '0600'
    encoding: b64
    content: ${base64encode(k3s_ca_key)}
  - path: /var/lib/rancher/k3s/server/tls/client-ca.crt
    owner: root:root
    permissions: '0644'
    encoding: b64
    content: ${base64encode(k3s_ca_cert)}
  - path: /var/lib/rancher/k3s/server/tls/client-ca.key
    owner: root:root
    permissions: '0600'
    encoding: b64
    content: ${base64encode(k3s_ca_key)}

runcmd:
  - [ sysctl, -w, net.ipv4.conf.all.rp_filter=1 ]
  - [ sysctl, -w, net.ipv4.conf.all.accept_source_route=0 ]
  - [ sysctl, -w, net.ipv4.conf.all.send_redirects=0 ]
  - [ sysctl, -w, net.ipv4.icmp_echo_ignore_broadcasts=1 ]
  - mkdir -p /var/lib/rancher/k3s/storage
  - until mount "/dev/disk/by-id/scsi-0HC_Volume_${volume_id}" /var/lib/rancher/k3s/storage; do sleep 1; done
  - curl -sfL https://get.k3s.io | sh -s - --write-kubeconfig-mode 644 --tls-san ${gitlab_hostname} --disable traefik

final_message: "K3s is ready for GitLab Helm deployment!"
