#cloud-config
packages:
  - docker.io
  - docker-compose-v2

# Set root password for console access
chpasswd:
  list: |
    root:${root_password}
  expire: false

write_files:
  - path: /etc/gitlab/docker-compose.yml
    content: |
      services:
        gitlab:
          image: 'gitlab/gitlab-ce:${gitlab_image_tag}'
          restart: always
          hostname: '${gitlab_hostname}'
          environment:
            GITLAB_ROOT_PASSWORD: '${gitlab_root_password}'
            GITLAB_OMNIBUS_CONFIG: |
              external_url '${gitlab_url}'
              registry_external_url '${registry_url}'
              gitlab_rails['gitlab_signup_enabled'] = false
              gitlab_rails['signup_enabled'] = false
              gitlab_rails['allow_runner_registration_token'] = true
              gitlab_rails['shared_runners_registration_token'] = '${runner_registration_token}'
              letsencrypt['enable'] = true
              letsencrypt['contact_emails'] = ['${letsencrypt_email}']
          ports:
            - '80:80'
            - '443:443'
            - '2222:22'
          volumes:
            - '/var/lib/gitlab/config:/etc/gitlab'
            - '/var/lib/gitlab/logs:/var/log/gitlab'
            - '/var/lib/gitlab/data:/var/opt/gitlab'
          shm_size: '256m'

runcmd:
  - mkdir -p /var/lib/gitlab
  - until mount "/dev/disk/by-id/scsi-0HC_Volume_${volume_id}" /var/lib/gitlab; do sleep 1; done
  - mkdir -p /var/lib/gitlab/config /var/lib/gitlab/logs /var/lib/gitlab/data
  - docker compose -f /etc/gitlab/docker-compose.yml up -d

final_message: "GitLab is starting up in a container!"
